insert into etudiants (nom, prenom, age, email)
    -> values ('Dupuis', 'Martin', 18, 'martin.dupuis@laplateforme.io');
	
select * from etudiants where prenom = 'dupuis'

id	nom	prenom	age	email
5	Dupuis	Gertrude	20	gertrude.dupuis@laplateforme.io
6	Dupuis	Martin	18	martin.dupuis@laplateforme.io
